.button {
	max-width: 12em;
	padding: 1rem;
	color: white;
	border-style: none;
}

.button:active {
	border: none;
}

.large {
	max-width: 20em;
}

.primary {
	background-color: #363336;
}

.secondary {
	border: 1px solid #363336;
	color: #363336;
	background-color: white;
}
