.grid {
	display: grid;
}

.fillAvailableSpace {
	min-width: -webkit-fill-available;
}

/* https://every-layout.dev/layouts/grid/ */
@supports (width: min(250px, 100%)) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	}
}
